<div class="container">
  <form novalidate
    (ngSubmit)="submit()"
    [formGroup]="registerForm">

    <!-- Forenames string: required: min 1 chars, max 100 chars: Forenames of the user. -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="Forenames">Fornames</label>
        <input
          type="text"
          class="form-control"
          id="forenames"
          placeholder="Enter Forenames"
          formControlName="forenames"
          [ngClass]="{'is-invalid': isInvalid(registerForm.get('forenames')!) }">
        <span class="invalid-feedback">
          <span>
            {{getErrorMessage('forenames',registerForm.get('forenames')!)}}
          </span>
        </span>
      </div>
    </div>

    <!-- Surname string: required: min 3 chars, max 100 chars: Surname of the user. -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="surname">Surname</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          placeholder="Enter Surname"
          formControlName="surname"
          [ngClass]="{'is-invalid': isInvalid(registerForm.get('surname')!) }">
        <span class="invalid-feedback">
          <span>
            {{getErrorMessage('surname',registerForm.get('surname')!)}}
          </span>
        </span>
      </div>
    </div>

    <!-- Email Address string: required: min 6 chars, max 100 chars: Check for @ sign. -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter Email Address"
          formControlName="email"
          [ngClass]="{'is-invalid': isInvalid(registerForm.get('email')!) }">
        <span class="invalid-feedback">
          <span>
            {{getErrorMessage('email',registerForm.get('email')!)}}
          </span>
        </span>
      </div>
    </div>

    <!-- Password string: required: min 8 chars, max 100 chars: No special characters needed -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter Password"
          formControlName="password"
          [ngClass]="{'is-invalid': isInvalid(registerForm.get('password')!) }">
        <span class="invalid-feedback">
          <span>
            {{getErrorMessage('password',registerForm.get('password')!)}}
          </span>
        </span>
      </div>
    </div>

    <!-- Password Confirm: string: should match the first password. -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Enter Confirm Password"
          formControlName="confirmPassword"
          [ngClass]="{'is-invalid': isInvalid(registerForm.get('confirmPassword')!) }">
        <span class="invalid-feedback">
          <span>
            {{getErrorMessage('confirmPassword',registerForm.get('confirmPassword')!)}}
          </span>
        </span>
      </div>
    </div>

    <!-- Register: Validate the fields and submit the form object to the API. -->
    <button
      (click)="submit()"
      type="button"
      class="btn btn-primary"
      [disabled]="!registerForm.valid">
      Register
    </button>

    <!-- Login: A link to the login page should also be available 
      On success, redirect ‘My Adverts Page’. -->
    <button
      (click)="login()"
      type="button"
      class="btn btn-primary">
      Login
    </button>

  </form>
</div>

<div
  *ngIf="errorMessage"
  class="alert alert-danger col-4"
  role="alert">
  {{errorMessage}}
</div>
<div
  *ngIf="displayInvalidMessage"
  class="alert alert-danger col-4"
  role="alert">
  Please ensure all fields are valid.
</div>
<div
  *ngIf="saveSuccessMessage"
  class="alert alert-primary col-4"
  role="alert">
  Saved, navigating to your adverts page.
</div>
<div
  *ngIf="savingMessage"
  class="alert alert-primary col-4"
  role="alert">
  Saving Salary...
</div>
<div
  *ngIf="saveErrorMessage"
  class="alert alert-danger col-4"
  role="alert">
  There was an error saving the salary.
</div>
<div
  *ngIf="getUserErrorMessage"
  class="alert alert-danger col-4"
  role="alert">
  There was an error getting the salary.
</div>


<!-- Information to capture:
- Forenames string: required: min 1 chars, max 100 chars: Forenames of the user.
- Surname string: required: min 3 chars, max 100 chars: Surname of the user.
- Email Address string: required: min 6 chars, max 100 chars: Check for @ sign.
- Password string: required: min 8 chars, max 100 chars: No special characters needed
- Password Confirm: string: should match the first password.
Actions:
- Register: Validate the fields and submit the form object to the API.
- Login: A link to the login page should also be available
On success, redirect ‘My Adverts Page’. -->