<div class="dropdown text-end">
  <button
    class="btn btn-outline-primary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    Province
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownBasic1">
    <li *ngFor="let province of provinces">
      <button
        class="dropdown-item"
        (click)="filterProvince(province)">
        {{province.province}}
      </button>
    </li>
  </ul>
</div>

<div *ngIf="selectedProvince"
  class="dropdown text-end">
  <button
    class="btn btn-outline-primary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    City
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownBasic1">
    <li *ngFor="let city of selectedProvince.cities">
      <button
        class="dropdown-item"
        (click)="filterCity(city)">
        {{city}}
      </button>
    </li>
  </ul>
</div>

<div class="dropdown text-end">
  <button
    class="btn btn-outline-primary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    Minimum Price
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownBasic1">
    <li>
      <button
        class="dropdown-item"
        (click)="filterMinimum(10000000)">
        R10 000 000
      </button>
    </li>
    <li>
      <button
        class="dropdown-item"
        (click)="filterMinimum(1000000)">
        R1 000 000
      </button>
    </li>
    <li>
      <button
        class="dropdown-item"
        (click)="filterMinimum(100000)">
        R100 000
      </button>
    </li>
    <li>
      <button
        class="dropdown-item"
        (click)="filterMinimum(10000)">
        R10 000
      </button>
    </li>
  </ul>
</div>

<div class="dropdown text-end">
  <button
    class="btn btn-outline-primary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    Maximum Price
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownBasic1">
    <li>
      <button
        class="dropdown-item"
        (click)="filterMaximum(100000000)">
        R100 000 000
      </button>
    </li>
    <li>
      <button
        class="dropdown-item"
        (click)="filterMaximum(10000000)">
        R10 000 000
      </button>
    </li>
    <li>
      <button
        class="dropdown-item"
        (click)="filterMaximum(1000000)">
        R1 000 000
      </button>
    </li>
    <li>
      <button
        class="dropdown-item"
        (click)="filterMaximum(100000)">
        R100 000
      </button>
    </li>
  </ul>
</div>

<div class="dropdown text-end">
  <button
    class="btn btn-outline-primary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    Keywords
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownBasic1">
    <li>
      <button
        class="dropdown-item"
        (click)="filterKeyWord('Big')">
        Big
      </button>
    </li>
    <li>
      <button
        class="dropdown-item"
        (click)="filterKeyWord('Small')">
        Small
      </button>
    </li>
    <li>
      <button
        class="dropdown-item"
        (click)="filterKeyWord('Green')">
        Green
      </button>
    </li>
    <li>
      <button
        class="dropdown-item"
        (click)="filterKeyWord('Blue')">
        Blue
      </button>
    </li>
  </ul>
</div>

<button
  type="button"
  class="btn btn-primary">
  Search
</button>