<div class="form-spacing">
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">

        <div class="card text-center">

          <h1 class="card-header">
            Manage Account
          </h1>

          <div class="container">
            <form novalidate
              (ngSubmit)="submit()"
              [formGroup]="accountForm">

              <div>
                <div class="form-group form-lable-spacing">
                  <label class="text-primary" for="forenames">Forenames</label>
                  <input
                    type="text"
                    class="form-control"
                    id="forenames"
                    placeholder="Enter Forenames"
                    formControlName="forenames"
                    [ngClass]="{'is-invalid': isInvalid(accountForm.get('forenames')!) }">
                  <span class="invalid-feedback">
                    <span>
                      {{getErrorMessage('forenames',accountForm.get('forenames')!)}}
                    </span>
                  </span>
                </div>
              </div>

              <div>
                <div class="form-group form-lable-spacing">
                  <label class="text-primary" for="surname">Surname</label>
                  <input
                    type="text"
                    class="form-control"
                    id="surname"
                    placeholder="Enter Surname"
                    formControlName="surname"
                    [ngClass]="{'is-invalid': isInvalid(accountForm.get('surname')!) }">
                  <span class="invalid-feedback">
                    <span>
                      {{getErrorMessage('surname',accountForm.get('surname')!)}}
                    </span>
                  </span>
                </div>
              </div>

              <div>
                <div class="form-group form-lable-spacing">
                  <label class="text-primary" for="email">Email Address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter Email Address"
                    formControlName="email"
                    [ngClass]="{'is-invalid': isInvalid(accountForm.get('email')!) }">
                  <span class="invalid-feedback">
                    <span>
                      {{getErrorMessage('email',accountForm.get('email')!)}}
                    </span>
                  </span>
                </div>
              </div>

              <div>
                <div class="form-group form-lable-spacing">
                  <label class="text-primary" for="oldPassword">Change Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="oldPassword"
                    placeholder="Enter Old Password"
                    formControlName="oldPassword"
                    [ngClass]="{'is-invalid': isInvalid(accountForm.get('oldPassword')!) }">
                  <span class="invalid-feedback">
                    <span>
                      {{getErrorMessage('oldPassword',accountForm.get('oldPassword')!)}}
                    </span>
                  </span>
                </div>
              </div>

              <div>
                <div class="form-group form-lable-spacing">
                  <label class="text-primary" for="newPassword">New Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    placeholder="Enter New Password"
                    formControlName="newPassword"
                    [ngClass]="{'is-invalid': isInvalid(accountForm.get('newPassword')!) }">
                  <span class="invalid-feedback">
                    <span>
                      {{getErrorMessage('newPassword',accountForm.get('newPassword')!)}}
                    </span>
                  </span>
                </div>
              </div>

              <div>
                <div class="form-group form-lable-spacing">
                  <label class="text-primary" for="confirmPassword">Confirm New Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    placeholder="Confirm New Password"
                    formControlName="confirmPassword"
                    [ngClass]="{'is-invalid': isInvalid(accountForm.get('confirmPassword')!) }">
                  <span class="invalid-feedback">
                    <span>
                      {{getErrorMessage('confirmPassword',accountForm.get('confirmPassword')!)}}
                    </span>
                  </span>
                </div>
              </div>

              <button
                (click)="submit()"
                type="button"
                class="btn btn-primary"
                [disabled]="disableButtons">
                Update Details
              </button>
              <button
                type="button"
                class="btn btn-primary"
                [routerLink]="['/my-adverts']"
                [disabled]="disableButtons">
                Cancel
              </button>

              <div
                *ngIf="primaryMessage"
                class="alert alert-primary"
                role="alert">
                {{primaryMessage}}
              </div>
              <div
                *ngIf="dangerMessage"
                class="alert alert-danger"
                role="alert">
                {{dangerMessage}}
              </div>
              <div
                *ngIf="successMessage"
                class="alert alert-success"
                role="alert">
                {{successMessage}}
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
</div>

<ng-http-loader
  *ngIf="loading"
  [backdrop]="true"
  [backgroundColor]="'#0275d8'"
  [debounceDelay]="100"
  [extraDuration]="10000"
  [minDuration]="300"
  [opacity]="'0.6'"
  [spinner]="spinnerStyle.skCubeGrid">
</ng-http-loader>