<div class="container">
  <form novalidate
    (ngSubmit)="submit()"
    [formGroup]="loginForm">

    <!-- Email Address string: required: min 6 chars, max 100 chars: Check for @ sign. -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter Email Address"
          formControlName="email" [ngClass]="{'is-invalid': isInvalid(loginForm.get('email')!) }">
        <span class="invalid-feedback">
          <span>
            {{getErrorMessage('email',loginForm.get('email')!)}}
          </span>
        </span>
      </div>
    </div>

    <!-- Password string: required: min 8 chars, max 100 chars -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter Password"
          formControlName="password" formControlName="password"
          [ngClass]="{'is-invalid': isInvalid(loginForm.get('password')!) }">

        <span class="invalid-feedback">
          <span>
            {{getErrorMessage('password',loginForm.get('password')!)}}
          </span>
        </span>
      </div>
    </div>

    <button
      (click)="submit()"
      type="button"
      class="btn btn-primary">
      Login
    </button>
    <div
      *ngIf="incorrectDetailsMessage"
      class="alert alert-danger col-4"
      role="alert">
      Incorrect Password or Email
    </div>
    <div
      *ngIf="displayInvalidMessage"
      class="alert alert-danger col-4"
      role="alert">
      Please ensure all fields are valid.
    </div>
    <div
      *ngIf="loginSuccessfulMessage"
      class="alert alert-success col-4"
      role="alert">
      Login Successful
    </div>
  </form>
</div>