<h1 class="text-center">Advert Details</h1>
<div
  *ngIf="!loading"
  class="card container jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="advert-image" src="assets\images\default-house.png" alt="house image">
      </div>
      <div class="col-sm">
        <h2
          class="display-6"
          [routerLink]="['/advert-details', advert.id]">
          {{advert.headline}}
        </h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h3>
              Price: R{{advert.price | currency:' '}}
            </h3>
          </li>
          <li class="list-group-item">Location: {{advert.city}}, {{advert.province}}</li>
          <li class="list-group-item">{{advert.details}}</li>
        </ul>
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['/sale-list']">
          Back
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addToFavourites()">
          Add to Favourites
        </button>
      </div>
      <pl-contact-seller [advert]="advert"></pl-contact-seller>
    </div>
  </div>

</div>
<ng-http-loader
  *ngIf="loading"
  [backdrop]="true"
  [backgroundColor]="'#0275d8'"
  [debounceDelay]="100"
  [extraDuration]="10000"
  [minDuration]="300"
  [opacity]="'0.6'"
  [spinner]="spinnerStyle.skCubeGrid">
</ng-http-loader>

<!-- This page will consist of the following sections:
- Advert Details:
o The photo placeholder image. We don’t have time for photo management now, but
later you can update the solution to include photos. Just use 1 standard image for
now.
o Advert Headline Text
o Location (this is a combination of Province and City)
o Price
o Advert description
- The ‘Contact Seller Component’ (5) should be somewhere on the page. (See Contact Seller
Component for more details) -->