<h1 class="text-center">Advert Details</h1>
<div
  *ngIf="!loading"
  class="card container jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="advert-image" src="assets\images\default-house.png" alt="house image">
      </div>
      <div class="col-sm">
        <h2
          class="display-6"
          [routerLink]="['/advert-details', advert.id]">
          {{advert.headline}}
        </h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h3>
              Price: R{{advert.price | currency:' '}}
            </h3>
          </li>
          <li class="list-group-item">Location: {{advert.city}}, {{advert.province}}</li>
          <li class="list-group-item">{{advert.details}}</li>
        </ul>
        <div class="d-flex justify-content-start">
          <button
            type="button"
            class="btn btn-primary"
            (click)="goBack()"
            [disabled]="disableButtons">
            Back
          </button>
          <button
            *ngIf="isLoggedIn"
            type="button"
            class="btn btn-primary"
            (click)="addToFavourites()"
            [disabled]="disableButtons">
            {{favouritesButton}}
          </button>
          <button
            *ngIf="!isLoggedIn"
            type="button"
            class="btn btn-primary"
            [routerLink]="['/login']"
            [disabled]="disableButtons">
            Login to add to favourites
          </button>

          <div *ngIf="favouritedMessage" class="alert favouritedMessage alert-primary">Favourited</div>

        </div>

        <div
          *ngIf="primaryMessage"
          class="alert alert-primary"
          role="alert">
          {{primaryMessage}}
        </div>
        <div
          *ngIf="dangerMessage"
          class="alert alert-danger"
          role="alert">
          {{dangerMessage}}
        </div>
        <div
          *ngIf="successMessage"
          class="alert alert-success"
          role="alert">
          {{successMessage}}
        </div>

      </div>
      <pl-contact-seller [advert]="advert"></pl-contact-seller>
    </div>
  </div>

</div>

<ng-http-loader
  *ngIf="loading"
  [backdrop]="true"
  [backgroundColor]="'#0275d8'"
  [debounceDelay]="100"
  [extraDuration]="10000"
  [minDuration]="300"
  [opacity]="'0.6'"
  [spinner]="spinnerStyle.skCubeGrid">
</ng-http-loader>

<!-- This page will consist of the following sections:
- Advert Details:
o The photo placeholder image. We don’t have time for photo management now, but
later you can update the solution to include photos. Just use 1 standard image for
now.
o Advert Headline Text
o Location (this is a combination of Province and City)
o Price
o Advert description
- The ‘Contact Seller Component’ (5) should be somewhere on the page. (See Contact Seller
Component for more details) -->