<mat-icon aria-label="Example home icon">lock</mat-icon>

<div class="container">
  <h1 class="text-center">User List</h1>
  <div class="container">
  </div>

  <div class='table-responsive'>
    <table class="table">
      <thead>
        <tr>
          <th class="text-primary" scope="col">forenames</th>
          <th class="text-primary" scope="col">surname</th>
          <th class="text-primary" scope="col">email</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.forenames}}</td>
          <td>{{user.surname}}</td>
          <td>{{user.email}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Page Details
The page should consist of a list of all the user accounts in a table. The table should be searchable on
‘Surname’. On search the table rows should filter to only display the relevant rows searched for. The
following columns should be displayed:
- Forenames: The user’s forenames
- Surname: The user’s surname
- Email Address: The user’s email address (username). If the email address is not validated,
display an icon next to the email address to show the administrator that the user has not
validated the email address.
- Locked: Display a ‘lock’ icon if the account is locked. Display nothing of the account is not
locked.
- A dropdown list with the following actions:
o Unlock account: (Only display of account is locked) Allows the administrator to
unlock the user’s account if locked.
o Change email address: Allows the administrator to change the user’s email address.
When this is clicked, display an input box with the user’s email address and a ‘Save’
button. When the Save button is clicked verify that there is text in the input box and
that an ‘@’ sign is present.  -->