<div class="form-spacing">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">

      <div class="card text-center">
        <h1 class="card-header">
          {{isEditing ? 'Edit Advert' : 'Create Advert'}}
        </h1>
        <div class="container">
          <form novalidate
            (ngSubmit)="submit()"
            [formGroup]="advertForm">

            <!-- Advert Headline Text -->
            <div>
              <div class="form-group form-lable-spacing">
                <label class="text-primary" for="headline">Advert Headline</label>
                <input
                  type="text"
                  class="form-control"
                  id="headline"
                  placeholder="Enter Headline"
                  formControlName="headline"
                  [ngClass]="{'is-invalid': isInvalid(advertForm.get('headline')!) }">
                <span class="invalid-feedback">
                  <span>
                    {{getErrorMessage('headline',advertForm.get('headline')!)}}
                  </span>
                </span>
              </div>
            </div>

            <!-- Province -->
            <div class="form-group form-lable-spacing">
              <label class="text-primary" for="province">Province</label>
              <select
                type="option"
                class="form-control"
                id="province"
                formControlName="province"
                [ngClass]="{'is-invalid': isInvalid(advertForm.get('province')!) }">
                <option value="" disabled>Please choose a province</option>
                <option
                  *ngFor="let province of provinces"
                  [value]="province.province">{{province.province}}
                </option>
              </select>
            </div>

            <!-- City: -->
            <div class="form-group form-lable-spacing">
              <label class="text-primary" for="city">City</label>
              <select
                type="option"
                class="form-control"
                id="city"
                formControlName="city"
                [ngClass]="{'is-invalid': isInvalid(advertForm.get('city')!) }">

                <option value="" disabled>Please choose a city</option>
                <option
                  *ngFor="let city of (selectedProvince?.cities ?? [])"
                  [value]="city">{{city}}</option>

              </select>
            </div>

            <!-- Advert Details:  -->
            <div>
              <div class="form-group form-lable-spacing">
                <label class="text-primary" for="details">Advert Details</label>
                <input
                  type="text"
                  class="form-control"
                  id="details"
                  placeholder="Enter Details"
                  formControlName="details"
                  [ngClass]="{'is-invalid': isInvalid(advertForm.get('details')!) }">
                <span class="invalid-feedback">
                  <span>
                    {{getErrorMessage('details',advertForm.get('details')!)}}
                  </span>
                </span>
              </div>
            </div>

            <!-- Price: -->
            <div>
              <div class="form-group form-lable-spacing">
                <label class="text-primary" for="price">Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="price"
                  placeholder="Enter Price"
                  formControlName="price"
                  [ngClass]="{'is-invalid': isInvalid(advertForm.get('price')!) }">
                <span class="invalid-feedback">
                  <span>
                    {{getErrorMessage('price',advertForm.get('price')!)}}
                  </span>
                </span>
              </div>
            </div>

            <button
              (click)="submit()"
              type="button"
              class="btn btn-primary"
              [disabled]="disableButtons">
              Save Advert
            </button>

            <button
              type="button"
              class="btn btn-primary"
              [routerLink]="['/my-adverts']"
              [disabled]="disableButtons">
              Cancel
            </button>

            <div
              *ngIf="primaryMessage"
              class="alert alert-primary"
              role="alert">
              {{primaryMessage}}
            </div>
            <div
              *ngIf="dangerMessage"
              class="alert alert-danger"
              role="alert">
              {{dangerMessage}}
            </div>
            <div
              *ngIf="successMessage"
              class="alert alert-success"
              role="alert">
              {{successMessage}}
            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

<ng-http-loader
  *ngIf="loading"
  [backdrop]="true"
  [backgroundColor]="'#0275d8'"
  [debounceDelay]="100"
  [extraDuration]="10000"
  [minDuration]="300"
  [opacity]="'0.6'"
  [spinner]="spinnerStyle.skCubeGrid">
</ng-http-loader>

<!-- Create/Edit Advert Page (2)

Description
The user will be able to create a new advert or edit an existing advert on this page, IF authenticated.
Page Details

If an existing advert is getting updated, populate all the relevant controls with the current advert
details.

To be able to create a new advert the following information should be captured and submitted to
the API:
- Advert Headline Text: string: required: min 10 chars, max 100 chars.
- Province: select: required: linked to Provinces. Select control is not editable.
- City: select: required: linked to Cities for the selected province. Select
control is not editable.
- Advert Details: string: required: min 10 chars, max 1000 characters.
- Price: number: minimum 10000, max 100000000.

Actions:
- Publish Advert: Change the advert status (see the appendix for more info about statuses) to
LIVE and post/put the advert to the API. On success, redirect to My Adverts List Page. On
failure, display message to user and stay on page.
- Cancel: Redirect to My Adverts List Page.

APPENDICES
APPENDIX A: ADVERT STATES
- HIDE The advert is hidden, only the advert owner can see the advert.
- LIVE The advert is live and can be seen by potential buyers.
- DELETED The owner marked the advert as DELETED. A lot of times you’ll ‘shadow
delete’ data. You don’t really delete it (for a lot of reasons), but from the system’s point of
view the data is deleted. Tricky thing to get right.

APPENDIX B: PROVINCE AND CITY DATA
These values should be returned by the API, NOT hard coded in the front end. That way you can easily
update the data without changing the front-end. In the beginning you’ll hard code it until your API is
up and running, but then I want it in the API -->