/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.advert-image {
  width: 500px;
}

h1{
  margin: 20px;
}
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
