<div class="card container jumbotron">

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="advert-image" src="assets\images\default-house.png" alt="house image">
      </div>
      <div class="col-sm">
        <h2
          class="display-4"
          [routerLink]="['/advert-details', advert.id]">
          {{advert.headline}}
        </h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h3>
              Price: R{{advert.price}}
            </h3>
          </li>
          <li class="list-group-item">Location: {{advert.city}}, {{advert.province}}</li>
          <!-- <li class="list-group-item">{{advert.details}}</li> -->
        </ul>
      </div>
    </div>
  </div>

</div>