<p>register works!</p>

<div class="container">
  <form novalidate
    (ngSubmit)="submit()"
    [formGroup]="registerForm">

    <!-- Forenames string: required: min 1 chars, max 100 chars: Forenames of the user. -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="Forenames">Fornames</label>
        <input
          type="text"
          class="form-control"
          id="forename"
          placeholder="Enter Fornames"
          formControlName="forename">
      </div>
    </div>

    <!-- Surname string: required: min 3 chars, max 100 chars: Surname of the user. -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="surname">Surname</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          placeholder="Enter Surname"
          formControlName="surname">
      </div>
    </div>


    <!-- Email Address string: required: min 6 chars, max 100 chars: Check for @ sign. -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter Email Address"
          formControlName="email">
      </div>
    </div>

    <!-- Password string: required: min 8 chars, max 100 chars: No special characters needed -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter Password"
          formControlName="password">
      </div>
    </div>

    <!-- Password Confirm: string: should match the first password. -->
    <div class="col-4">
      <div class="form-group">
        <label class="text-primary" for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Enter Confirm Password"
          formControlName="confirmPassword">
      </div>
    </div>

    <!-- Register: Validate the fields and submit the form object to the API. -->
    <button
      (click)="submit()"
      type="button"
      class="btn btn-primary">
      Register
    </button>

    <!-- Login: A link to the login page should also be available 
      On success, redirect ‘My Adverts Page’. -->
    <button
      (click)="login()"
      type="button"
      class="btn btn-primary">
      Login
    </button>

  </form>
</div>


<!-- Information to capture:
- Forenames string: required: min 1 chars, max 100 chars: Forenames of the user.
- Surname string: required: min 3 chars, max 100 chars: Surname of the user.
- Email Address string: required: min 6 chars, max 100 chars: Check for @ sign.
- Password string: required: min 8 chars, max 100 chars: No special characters needed
- Password Confirm: string: should match the first password.
Actions:
- Register: Validate the fields and submit the form object to the API.
- Login: A link to the login page should also be available
On success, redirect ‘My Adverts Page’. -->